#header{
    background:var( --bg-dark );
    color:var( --color-light );
    text-align: center;
    min-height: 60px;
    border-bottom: 0px solid #ddd;

    &._fixed{
       // position:fixed;
        top:0;
        width:100%;
        z-index:999;
    }

    body.admin-bar &._fixed{
        top:32px;
    }

    .top-logo{
        margin-top:15px;
        margin-left:10px;
        a{ text-decoration: none;}
        img{
            width:120px;
            height:auto;
            padding:0px;
        }
    }

}

.search-box-mobile{ display: none;}
.btn-menu-mobile{ display: none;}
#cookie-notice{ display: none;}