@import 'parts/responsive/menu';


.hide-desktop{ display: none;}
.hide-mobile{ display: block; }
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1024px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1023px) {
    .hide-desktop{ display: block;}
    .hide-mobile{ display: none; }
}
@media screen and (max-width: 1024px) and (min-width: 960px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 960px) { // 768
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
    .section{
        &-more{
            a{
                span{ display: none;}
                .bi{ font-size: 26px;}
            }
        }
    }

}

 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}